
.logo{
    border: 1px solid black;
    border-radius: 50%;
}

a:link{
   text-decoration: none;
}



.about-end{
   
    height: 255px;
    border: 2px solid black;
    background-color: rgb(5, 119, 119);
}

.about-btn{
    margin-top: 30px;
    margin-left: 20px;
    border: 1px solid black;
    background: rgb(245, 202, 10) ;
}